src/main/resources/xsd/toy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="Toy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ToyID" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ToyName" type="xsd:string"/>
        <xsd:element name="Description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Toys">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Toy" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>